@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654996890633') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdanguanli:before {
  content: "\e614";
}

.icon-yonghuguanli:before {
  content: "\e620";
}

.icon-shangpinguanli:before {
  content: "\e608";
}

.icon-shujuguanli:before {
  content: "\e651";
}

.icon-quanxianguanli:before {
  content: "\e606";
}

